<h1>Danh sách sản phẩm</h1>
<a [routerLink]="['/facilities/create']" class="btn btn-outline-dark">Add new facility</a>
<div>
  <table class="table table-striped">
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Cost</td>
      <td>Max people</td>
      <td>Standar room</td>
      <td>Description</td>
      <td>Pool area</td>
      <td>Number of floors</td>
      <td>Rent type</td>
      <td>Facility Type</td>
      <td>Detail</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
    <tr *ngFor="let facility of facilities">
      <td>{{facility.id}}</td>
      <td>{{facility.facilityName}}</td>
      <td>{{facility.cost}}</td>
      <td>{{facility.maxPeople}}</td>
      <td>{{facility.standardRoom}}</td>
      <td>{{facility.description}}</td>
      <td>{{facility.poolArea}}</td>
      <td>{{facility.numberOfFloors}}</td>
      <td>{{facility.rentType}}</td>
      <td>{{facility.facilityType}}</td>
      <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#showModal" [routerLink]="['/facilities/detail', facility.id]">Detail</button></td>
      <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#showModal" [routerLink]="['/facilities/edit', facility.id]">Edit</button></td>
      <td>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#delModal" (click)="delModal(facility)">Delete</button></td>
    </tr>
  </table>
</div>

<!--Modal delete-->
<div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete facility:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Do you delete: </p>
        <br>
        <table class="table">
          <tr>
            <td>Facility name:</td>
            <td>{{deleteFacility.facilityName}}</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" (click)="delProduct(deleteFacility.id)" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>

