<!--<button class="btn btn-info">Facility detail.</button>-->
<div *ngIf="facilities!=null">
  <p>id: {{facilities.id}}</p>
  <p>name: {{facilities.facilityName}}</p>
  <p>area: {{facilities.area}}</p>
  <p> cost: {{facilities.cost}}</p>
  <p>max people: {{facilities.maxPeople}}</p>
  <p>standar room: {{facilities.standardRoom}}</p>
  <p>description: {{facilities.description}}</p>
  <p>pool area: {{facilities.poolArea}}</p>
  <p>number of floors: {{facilities.numberOfFloors}}</p>
  <p>rent type: {{facilities.rentType}}</p>
  <p>facility type: {{facilities.facilityType}}</p>
</div>

