<div>
  <h1>Thêm mới dịch vụ</h1>
  <div>
    <form [formGroup]="customerForm" (ngSubmit)="updateForm()">
      <table>
        <tr>
          <td>Name:</td>
          <td><input type="text" class="form-control" formControlName="name"></td>
        </tr>
        <tr>
          <td>Customer Type:</td>
          <td><input type="text" class="form-control"  formControlName="customerName"></td>
        </tr>
        <tr>
          <td>Gender</td>
          <td><input type="text" class="form-control" formControlName="gender" ></td>
        </tr>
        <tr>
          <td>Birth Day</td>
          <td><input type="date" class="form-control" formControlName="birthday" ></td>
        </tr>
        <tr>
          <td>Id Card</td>
          <td><input type="text" class="form-control" formControlName="idCard" ></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><input type="text" class="form-control" formControlName="email" ></td>
        </tr>
        <tr>
          <td>Phone</td>
          <td><input type="text" class="form-control" formControlName="phone" ></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><input type="text" class="form-control" formControlName="address" ></td>
        </tr>
        <tr>
          <td></td>
          <td><button type="submit" class="btn btn-primary">Submit</button></td>
        </tr>
      </table>
    </form>
  </div>
</div>
