<h1>Danh sách sản phẩm</h1>
<a [routerLink]="['/contracts/create']" class="btn btn-outline-dark">Add new contract</a>
<div>
  <table class="table table-striped">
    <tr>
      <td>ID</td>
      <td>Customer</td>
      <td>Facility</td>
      <td>Start Date</td>
      <td>End Date</td>
      <td>Deposit</td>
      <td>Detail</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
    <tr *ngFor="let contract of contracts">
      <td>{{contract.id}}</td>
      <td>{{contract.customerId}}</td>
      <td>{{contract.facilityId}}</td>
      <td>{{contract.startDate}}</td>
      <td>{{contract.endDate}}</td>
      <td>{{contract.deposit}}</td>
      <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#showModal" [routerLink]="['/contracts/detail', contract.id]">Detail</button></td>
      <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#showModal" [routerLink]="['/contracts/edit', contract.id]">Edit</button></td>
      <td>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#delModal" (click)="delModal(contract)">Delete</button></td>
    </tr>
  </table>
</div>

<!--Modal delete-->
<div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete facility:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Do you delete: </p>
        <br>
        <table class="table">
          <tr>
            <td>Contract ID:</td>
            <td>{{deleteContract.id}}</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" (click)="delProduct(deleteContract.id)" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>

